<div class="container">
  <h1 class="text-center">Our Restaurants</h1>
  <div class="text-center h2">
    <%= link_to "Add Restaurant", new_restaurant_path %>
  </div>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-description">
          <h2><%= restaurant.name %></h2>
          <p><%= restaurant.address %></p>
        </div>
        <%= link_to "Show", restaurant_path(restaurant), class: "card-link" %>
        <%= link_to "Edit", edit_restaurant_path(restaurant), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
